@model CashFlowFinance.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="wraper container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-detail card-box">
                        <h1>
                            Bienvenido a Cash-Flow Familia<span class="m-l-15">@Model.NombreFamilia</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4" >
                    <div class="profile-detail card-box">
                        <div>

                            <img src="~/Content/images/Anonymous.png" class="img-circle" alt="profile-image">


                            <div class="list-inline status-list m-t-20">
                                <p class="text-muted font-600"><strong>S/.</strong><span class="text-primary m-b-100">@Model.Ahorro</span></p>
                                <p class="text-muted">Dinero Actual</p>
                            </div>

                            <hr>

                            <h4 class="text-uppercase font-600">Sobre Nosotros!!!</h4>

                            <div>
                                <div class="text-left">
                                    <p class="text-primary font-13"><strong>Nombre Familiar :</strong> <span class="text-success m-b-5">@Model.NombreFamilia</span></p>

                                    <p class="text-primary font-13"><strong>Telefono :</strong><span class="text-success m-b-5">@Model.Telefono</span></p>

                                    <p class="text-primary font-13"><strong>Correo :</strong> <span class="text-success m-b-5">@Model.Correo</span></p>

                                    <p class="text-primary font-13"><strong>Integrantes :</strong> <span class="text-success m-b-5">@Model.Integrantes</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="card-box">
                                <table class="table table-striped dataTable no-footer">
                                    <thead>
                                        <tr role="row">
                                            <th  >Imagen</th>
                                            <th  >Nombre</th> 
                                            <th  >Miembro</th>
                                            <th  >Enter</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var persona in Model.LstPersona)
                                        {
                                            if (persona.FamiliaId == Model.FamiliaId)
                                            {
                                            <tr class="gradeC odd" role="row">
                                                <td class="actions" align="center"><img src="~/Content/images/Anonymous.png" class="media-object img-circle" alt="64x64" style="width: 64px; height: 64px;"></td>
                                                <td class="sorting_1">
                                                    <br/>
                                                    @persona.Nombre @persona.Apellido
                                                </td>
                                                <td>
                                                    <br/>
                                                    @persona.Miembro.Nombre
                                                </td>
                                                <td align="center">
                                                    <a href = "@Url.Action("Ingreso","IngresosGastos", new { PersonaId = persona.PersonaId})" type="button" class="btn btn-default btn-custom btn-rounded waves-effect waves-light">Ingresos</a>
                                                    <br />
                                                    <a href = "@Url.Action("Gasto","IngresosGastos", new { PersonaId = persona.PersonaId})" type="button" class="btn btn-danger btn-custom btn-rounded waves-effect waves-light"> Gastos</a>
                                                </td>
                                            </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div> <!-- container -->
        </div> <!-- content -->
    </div>
</div>
